body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .navbar, .footer {
    background-color: #1f1f1f;
  }
  
  .nav-link, .navbar-brand {
    color: #e0e0e0;
  }
  
  .nav-link:hover {
    color: #ff5722;
  }
  
  #hero {
    background: url('./assets/background2.png') center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
  }
  
  #hero h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 8px #000;
  }
  
  
  .footer {
    padding: 20px 0;
    text-align: center;
    color: #bbb;
  }
  